.cartContainer {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 20px;
}
  .buttons {
    display: flex;
    gap:20px;
  }

.cartImg {
    max-width: 140px;
    object-fit: cover;
    margin-left: 40px;
}

  .cartItemContainer {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;
  }
  .cartItems{
    display: flex;
    justify-content: space-between;
  }
  

.itemContainer {
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 20px;
  height: 100%;
  }

.itemImg {
    max-height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .itemBtn {
    border-radius: 0 0 20px 20px;

  }